<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <title>Book search application</title>
    </head>
    <body>

        <div class="container">
            <div class="row">
                <div class="col-md text-center">
                    <h3 class="mt-2">Book search application using language</h3>
                    <form action="/" method="POST">
                        <input type="text" class="form-control"
                            placeholder="Enter the languge for book search"
                            id="inputText" name="input" required>
                            
                        <button type="submit" class="btn btn-primary mt-4"
                            id="inputButton">Search</button>
                    </form>
                    <br> <br>
                    <table class="table">
                        {{#if books}}
                        <thead>
                            <tr>
                                <th scope="col">author</th>
                                <th scope="col">country</th>
                                <th scope="col">link</th>
                                <th scope="col">pages</th>
                                <th scope="col">title</th>
                                <th scope="col">year</th>
                            </tr>
                        </thead>
                        {{/if}}

                        <tbody id="tbody">
                            {{#each books}}
                            <tr>
                                <td id="author">{{author}}</td>
                                <td id="country">{{country}}</td>
                                <td id="link">{{link}}</td>
                                <td id="pages">{{pages}}</td>
                                <td id="title">{{title}}</td>
                                <td id="year">{{year}}</td>
                            </tr>
                            {{/each}}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>